<div class="containter">
  <h1>
    What does this app do?
  </h1>
  <p>
    This app allows users to find locations for recycling and upcycling in locations near our development team. 
    Users can find new locations, as well as report locations to the team for verification. The map is an interactive way to 
    find places near you. 
  </p>
</div>


<h1>
  Meet The Developers!
</h1>
<p>
  Most epic people in 2021 App Design :)
</p>


<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rahma Malik</h5>
          <p class="card-text">I like spending my time on writing and computers :)</p>
          <a href="/bio/rahma" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alan Wang</h5>
          <p class="card-text">I never go outside.</p>
          <a href="/bio/alan" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sasha Rodriguez</h5>
          <p class="card-text">I spend all my time on anything music related</p>
          <a href="/bio/sasha" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gerardo Tamez</h5>
          <p class="card-text">I love anime. ≧◉◡◉≦</p>
          <a href="/bio/gerardo" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rohan Kelkar</h5>
          <p class="card-text">I like math, videogames, and coding</p>
          <a href="/bio/rohan" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Jon Lee</h5>
          <p class="card-text">I just do the things I like</p>
          <a href="/bio/jon" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Leo Reaboi</h5>
          <p class="card-text">Briefly introduce urself</p>
          <a href="/bio/leo" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>