<div class=".containter">
  <h1>
    What does this app do?
  </h1>
</div>


<h1>
  Developer Bios ...
</h1>
<p>
  Most epic people in 2021 App Design :)
</p>


<div class="container">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rahma Malik</h5>
          <p class="card-text"> I like spending my time on writing and computers :)</p>
          <a href="/bio/rahma" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alan Wang</h5>
          <p class="card-text">Briefly introduce urself</p>
          <a href="/bio/alan" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sasha Rodriguez</h5>
          <p class="card-text">Briefly introduce urself</p>
          <a href="/bio/sasha" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gerardo Tamez</h5>
          <p class="card-text"> I enjoy wearing hoodies and love anime.</p>
          <a href="/bio/gerardo" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rohan Kelkar</h5>
          <p class="card-text">I like math, videogames, and coding</p>
          <a href="/bio/rohan" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Jon Lee</h5>
          <p class="card-text">I just do the things I like</p>
          <a href="/bio/jon" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Leo Reaboi</h5>
          <p class="card-text">Briefly introduce urself</p>
          <a href="/bio/leo" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class=".container-sm">
  <hr>
  <a href="/bio/rahma">Rahma Malik</a>
  <hr>
  <a href="/bio/alan">Alan Wang</a>
  <hr>
  <a href="/bio/sasha">Sasha Rodriguez</a>
  <hr>
  <a href="/bio/gerardo">Gerardo Tamez</a>
  <hr>
  <a href="bio/rohan">Rohan Kelkar</a>
  <hr>
  <a href="/bio/jon">Jon Lee</a>
  <hr>
  <a href="/bio/leo">Leo Reaboi</a>
  <hr>
</div>
-->
