<div class="container p-3">

<br>

<h1 class="p5">
  Accounts
</h1>

<hr>
<a href="/"> <%= user.googleemail %> </a>
<hr>
<a href="/profile"> See your profile </a>
<hr>
<a href="/profiles"> See everyone's profile </a>
<hr>
<a href="/logout"> Logout </a>
<hr>

</div>