<h1>
  Suggest a New Location
</h1>


<form class="row g-3" method="post" action="/addLocation">
  <div class="col-10">
    <label for="namePlace" class="form-label">Name this place</label>
    <input type="text" class="form-control" id="namePlace" name="namePlace">
    <div class="col-2">
      <div class="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reupcycle" id="upcycle" value="upcycle">
          <label class="form-check-label" for="upcycle">Upcycle</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reupcycle" id="recycle" value="recycle">
          <label class="form-check-label" for="recycle">Recycle</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <label for="address1" class="form-label">Address</label>
    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
  </div>
  <div class="col-6">
    <label for="address2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="address2" name="address2"placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city"  name="city">
  </div>
  <div class="col-md-4">
    <label for="state" class="form-label">State</label>
    <select id="state" name="state" class="form-select">
      <option selected>Choose...</option>
      <option>MA</option>
      <option>NY</option>
      <option>NH</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="zip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="zip" name="zip" placeholder="00000">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

<hr>

<ul>
  <!-- here is how we iterate over all locations in the database! -->
  
  <% locations.forEach(location => { %> 
  
   
    <li> 
         <%= location.namePlace %> 
      <i> <%= location.createdAt %></i>
         <br>
         <%= location.city %>
   </li>
  
  <% }) %>
  
</ul>

<% if (loggedIn) {%>
  <% if (['rohankelkar@brandeis.edu','tjhickey@brandeis.edu', 'joungwon04@brandeis.edu'].includes(user.googleemail)) { %>
    <p>
      <h1>
        Developer's only!
      </h1>

    <pre><%= JSON.stringify(locations,null,5) %></pre>


    </p>
  <% } %>
<% } %>