<h1>
  Suggest a New Location
</h1>

<div class=".container-sm">
  <form  method="post" action="/showformdataJSON">
  
  <div class="mb-3">
    <label for="Address Line 1" class="form-label">Address Line 1</label>
    <input type="text" class="form-control" id="AddLine1" placeholder="Required">
  </div>

  <div class="mb-3">
    <label for="Address Line 2" class="form-label">Address Line 2</label>
    <input type="text" class="form-control" id="AddLine2">
  </div>

  <div class="mb-3">
    <label for="City" class="form-label">City</label>
    <input type="text" class="form-control" id="city" placeholder="Required">
  </div>
  
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="state" data-bs-toggle="dropdown">
      State
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">VT</a></li>
      <li><a class="dropdown-item" href="#">MA</a></li>
      <li><a class="dropdown-item" href="#">NY</a></li>
    </ul>
    
  <button type="submit" class="btn btn-primary">Submit</button>
    
  </div>

  </form>
</div>

  
<!--<form method="post" action="/showformdataJSON" class="bg-info">
  Enter the city of your location:

  <input type="text" 
         name="City" 
         placeholder="City Name">
<hr>
    What is the zip code of your location?
  
  <input type="number" 
         name="zipcode"
         placeholder="Zip Code">
<hr> 
  Enter the address of your location:
  <input type="text" name="address" placeholder="Address">


<input type="submit" value="Enter">
</form>

<hr>

-->
