<h1>
  Alan's bio ... 
</h1>

    <div class="jumbotron">
        <h1>Alan Wang</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">
  
  <div class="col bg-warning text-danger">
    <p>
      I am a student of the Brandeis App Design Course. My prior experience includes taking one intro to computer science class.
      
    </p>  
    <p>
      I live in Massachusetts from ages 3-16.
    </p>
    
    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Belmont, Ma</li>
      </ul>         
    </div>
    
    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://drive.google.com/">Google Drive</a></li>
    </ul>
  </div>
  
  <div class="col"> 
  </div>
  
</div>

<img src="images//dog.jpg"
     alt="dog"
     width="100%">

