<h1>
  Alan's bio ... 
</h1>

    <div class="jumbotron">
        <h1>Alan Wang</h1>
        <p>Bio and Fact sheet</p>
    </div>

    <p><i>I never go outside</i></p>




<div class="row">
  
  <div class="col bg-warning text-danger">
    <p>
      I am a student of the Brandeis App Design Course. My prior experience includes taking one intro to computer science class.
      
    </p>  
    <p>
      I live in Massachusetts from ages 3-16.
    </p>
    
    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Belmont, Ma</li>
      </ul>         
    </div>
    
    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://drive.google.com/">Google Drive</a></li>
    </ul>
  </div>
  
  <div class="col"> 
  </div>
  
</div>

<img src="images//dog.jpg"
     alt="dog"
     width="100%">

<hr>
<h1>
  Mad Lib
</h1>
<p>
  Here is a simple little madlib you can do for fun!
  <br>
  Fill out the form press the submit button
</p>
<form method="post" action="/alanMadLib">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>




