

  
 <div class="container">
  <div class="row align-items-start">
    
    <div class="row">
    </h2>Hello, I'm Gerardo Tamez. I'm a rising senior at my <a href="https://www.houstonisd.org/jones">High School.</a></li>  
    </div>

    <div class="row">
       <div class="col">
    <img src="https://eus-www.sway-cdn.com/s/BUyGYSFm4AG4JV99/images/Cw_ViuMR-BTi0x?quality=1920&allowAnimation=true"
     width="500" height="250" alt="Photo of Jones High School" >
    </div>
    <div class="col">
      </h2>One of my Hobbies is that I  like to watch movies such as the <a href="https://bit.ly/3AUGI5O">Fast and Furious Saga.</a></li>
    <img src="https://cdn.glitch.com/6324fb1d-14e8-4b7a-ad9f-58a13fbeae0d%2F5c12102d-c0ba-4d4c-b91b-11ec6d8197f9.image.png?v=1626143095536"
       width="533" height="250"  
         </div>
</div> 
         
 
    I enjoy watching <a href="https://www.funimation.com/shows/">Anime.</a></li>
My top 5 Favorite Animes are



                                 
                                 
    <div>
 
                                 
   <li> <a href="https://bit.ly/2TXCPwt">Dragon Ball z</a></li>
   <li> <a href="https://bit.ly/2U9bS95">Death Note</a></li>
   <li> <a href="https://bit.ly/3xCRI5X">Naruto</a></li>      
  <li> <a href="https://bit.ly/3wEpxlN">Assasination Classroom</a></li>
  <li> <a href="https://bit.ly/2UNWvTC">Seven Deadly Sins</a></li>
     </div>
                            
                                       
                                     