<div class="jumbotron">
    <h1>Jon's Bio</h1>
    <p>
      Joung Won Lee <img src="https://camo.githubusercontent.com/d050bbf2b6ef10b803bf4e888a2064190fbbdd9183a676350320edd5b0d03e34/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d25463025394625383725423025463025394625383725423725323052657075626c69632532304f662532304b6f7265612d3030343761303f7374796c653d666c61742d737175617265"></img>
    </p>
    <p><i>I just do the things I like</i></p>
</div>

<div>
  <img src="https://cdn.glitch.com/2bd5e4b3-37db-4afc-b9b1-6dbc7156f4e2%2FIMG_20200712_224020.jpg?v=1626117490848" alt="cat" width="500"></img>
</div>

<hr>

<div>
  <h2>Contacts</h2>
  <p>
    <ul>
      <li>
        <a href="mailto:joungwon04@brandeis.edu">email : joungwon04@brandeis.edu</a>
      </li>
      <li>
        <a href="https://github.com/pine5508">Github profile</a>
        <img src="https://img.shields.io/github/followers/pine5508?style=social" alt="Github Follow"></img>
      </li>
      <li>
        <a href="https://keybase.io/pine5508">Keybase profile</a>
      </li>
    </ul>
  </p>
</div>
