
    <div class="jumbotron">
        <h1>Rohan's Bio</h1>
        <p>About me!</p>
    </div>
<hr>

<div class="col bg-success text-light">
  <h4>
    I am a rising sophomore in Massachusetts taking the course in summer 2021. 
    I am know english and marathi, and am learning spanish, which makes me trilingual.
  </h4>
</div>
<div class="col bg-dark text-light">
  <h1>
    Favorites:
  </h1>
  <ul>
    <h3>
      <li>Color: Orange</li>
      <li>Food: Potato Fries</li>
      <li>Number: 5</li>
      <li>Dessert: Brownies</li>
      <li>Sport: Badminton</li>
      <li>Subject: Math</li>
    </h3>
</ul>
</div>

email: rohankelkar@brandeis.edu

<hr>

<h1>
  Madlib
</h1>
<div class="col"
     </div>
<form method="post" action="/madlibRohan">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>