<h1>
   
  <div class="jumbotron">
        <h1>Rahma's Bio</h1>
        <p>About me!</p>
    </div>
</h1>
<div class="col bg-info">
  <h4>
    Hi, I'm from Islamabad, Pakistan. I enjoy writing in my spare time, I have an Instagram account in which I post poems. I enjoy playing badminton. I like to learn about different languages.
  </h4>
</div>
<h2>Links!</h2>
<a href="https://www.instagram.com/inked.journals/">inked.journals</a>
