<h1>
   
  <div class="jumbotron">
        <h1>Rahma's Bio</h1>
        <p>About me!</p>
    </div>
</h1>
<div class="col bg-light">
  <h4>
    Hi, I'm from Islamabad, Pakistan. I'm 17. I enjoy writing in my spare time, I have an Instagram account in which I post poems. I enjoy playing badminton. I like to learn about different languages.
  </h4>
</div>
<h2>Socials!</h2>
<a href="https://www.instagram.com/inked.journals/">inked.journals</a>

<div>
  <form method="post" action="/timMadLib">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>

</div>

