<h1>Sasha's Bio
</h1>
        <p>A Bit About Me!</p>
  
 <div class="container">
  <div class="row">
    <div class="col-sm bg-primary">
    Things I like..
   <ul> 
  <li>Cooking</li>
  <li>Baking</li>
  <li>Taking Pictures</li>
  <li>Music</li>
</ul>
<div class="col"> 
    <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2FIMG_0490.jpg?v=1626294612385"
     width="250" alt="photo of a cupcake made by Sasha" >
  </div>
<div class="col"> 
    <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2FIMG_1669.jpg?v=1626294622464"
     width="250" alt="photo of a spicy noodles made by Sasha" >
  </div>
    </div>
  
  <div class="col bg-info text-white">
    <p>
      I am Sasha Rodriguez and have lived in Chicago, Illinois my whole life. I am a rising senior. I love cats and hanging out with friends and family. 
    </p>  

<div class="col"> 
    <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2FIMG_3257.jpg?v=1626294630229"
     width="250" alt="photo of Sasha" >
  </div>

     <div class="col"> 
    <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2F2020-01-08%2006.44.07%201%20(1).jpg?v=1626183697910"
     width="500" alt="photo of Chicago Streets taken by Sasha" >
  </div>
     
  



<div class="col"
     </div>
<form method="post" action="/sashaMadLib">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>
<style>
  i {color:red}
