<h1>
  Give us feedback!
</h1>


<form class="row g-3" method="post" action="/giveFeeback">
 <div class="form-group">
    <textarea class="form-control" id="feedback" rows="8" placeholder="What can we improve on?"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

 
  
  <!-- here is how we iterate over all locations in the database! -->
