<div class="gy-5">
  <h1>
    Give us feedback!
  </h1>
</div>



<form class="row g-3" method="post" action="/giveFeeback">
  <div class="mb-3">
    <textarea class="form-control" id="feedback" rows="8" placeholder="What can we improve on?"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

 
<% if (!loggedIn) { %>
   <p>
     hi
   </p>
