<div>
  <h1>Help us Improve</h1>
</div>

<% if (loggedIn) { %>
<form class="row g-3" method="post" action="/feeback">
  <div class="mb-3">
    <textarea class="form-control" id="feedback" rows="8" placeholder="What can we improve on?"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

<%} else { %>
<div class="alert alert-danger" role="alert">
  You have to be logged in to leave feedback.
</div>

<% } %>