<div class="container p-3">


<% if (loggedIn) { %>
  <div class="alert alert-primary" role="alert" id="submitAlert" style="display:none">
  Thanks for your feedback! Your response have been recorded.
</div>
  
<div>
  <h1>Help Us Improve</h1>
</div>
  
<form class="row g-3" method="post" action="/feedBack" onSubmit="alert('Thank you for your feedback.');">
  <div class="mb-3">
    <textarea class="form-control" id="feedback" name="feedback" rows="8" placeholder="What can we improve on?"></textarea>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success" onclick="showAlert()">Submit</button>
  </div>
</form>

<%} else { %>
<div class="alert alert-danger" role="alert">
  You have to be logged in to leave feedback.
</div>
<% } %>


<% if (loggedIn) {%>
  <% if ([
     'rohankelkar@brandeis.edu',
     'tjhickey@brandeis.edu', 
     'joungwon04@brandeis.edu',
     'rahmamalik@brandeis.edu',
     'alanwang@brandeis.edu',
     'sasharodriguez@brandeis.edu',
     ].includes(user.googleemail)) { %>

    <hr>

  
    
    <ul class="list-group">
      <% feedbacks.map( feedback => {%> 
      <li class="list-group-item">
        <span class="btn-close " href="feedback/delete/<%=feedback.id %>"></span>
        <%= feedback.feedback %>  <%= feedback.createdAt.toLocaleString('en-US') %>
      </li>
      <% }) %>
    </ul>      
   


<% }}%>
  