<div class="jumbotron">
  <h1>Team 4 - Climate Change</h1>
A full screen Google Maps embed
<hr>

  <% if (loggedIn) {%>
You are logged in as <%= user.googlename %> <br>
with email <%= user.googleemail %>
  <%} else {%>
You are not logged in yet.
  <%}%>

  <!--  Here is some bootstrap styled HTML  -->
