
<div class="container p-3">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    Welcome to Greencycle — Your one-stop handbook to locate all the recycling centers near you!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</div>

<!--
  Let's talk about the main page in the breakout rooms today ... -- Tim

  I think you need an explanation of the purpose of this webpage here ..
  an elevator pitch inside a jumbotron would be a good start!

  I've included a few iframes of google maps that don't need a key.
  Perhaps you could include one for each of the main locations and put them in an accordion?
  Or put them on your custom location pages??

  We might want to look at the earth911 API which stores info about where to recycle what around the world
  https://api.earth911.com/
  or add a link to their search site (for US locations only) https://search.earth911.com/

  One big advantage of your site over google or earth911 or other sites,
  is that it lets people add their own information about the recycling
  sites they like on the "Suggest a location page"

  Maybe you could include a feed of the most recent suggestions on the main page??

-->

<div class="full" style="height:70vh">
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d378049.5635411197!2d-71.07092025!3d42.24623295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRecycling%20near%20Boston%2C%20MA!5e0!3m2!1sen!2sus!4v1626869007916!5m2!1sen!2sus" 
          width="100%" 
          height="100%" 
          style="border: none;"
          allow="fullscreen"
          loading="lazy"></iframe>
</div>

<!--
<div class="row">
  <div class="col">
      <h2>
        Boston Recycling
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d378049.5635411197!2d-71.07092025!3d42.24623295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRecycling%20near%20Boston%2C%20MA!5e0!3m2!1sen!2sus!4v1626869007916!5m2!1sen!2sus" 
              width="600" 
              height="450" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy"></iframe>      
  </div>
  <div class="col">
    <h2>
      Boston Upcycling
    </h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d378049.5635411197!2d-71.07092025!3d42.24623295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1supcycling%20near%20Boston%2C%20MA!5e0!3m2!1sen!2sus!4v1626869007916!5m2!1sen!2sus" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"></iframe>      
  </div>

</div>

<div class="row">
  <div class="col">
      <h2>
        Islamabad Recycling
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d212704.09297198066!2d72.89697331433884!3d33.59229137287113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srecycling%20near%20islamabad%20pakistan!5e0!3m2!1sen!2sus!4v1626869188850!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="col">
      <h2>
        Islamabad Upcycling
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d212704.09297198066!2d72.89697331433884!3d33.59229137287113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1supcycling%20near%20islamabad%20pakistan!5e0!3m2!1sen!2sus!4v1626869188850!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>


<h3>
   or visit Google Maps to find
  <a href="https://www.google.com/maps/search/Recycling+near+me">recycling</a> or

   <a href="https://www.google.com/maps/search/Upcycling+near+me">upcycling </a>
  near your current location
</h3>

-->