<div class="jumbotron">
  <h1>Team 4 - Climate change</h1>
  



<hr>
  <% if (loggedIn) {%>
You are logged in as <%= user.googlename %> <br>
with email <%= user.googleemail %>
  <%} else {%>
You are not logged in yet.
  <%}%>

  <!--  Here is some bootstrap styled HTML  -->
