<h1>Greencycle</h1>
A full screen Google Maps embed
<hr>

  <% if (loggedIn) {%>
You are logged in as <%= user.googlename %> <br>
with email <%= user.googleemail %>
  <%} else {%>
You are not logged in yet.
  <%}%>
 <hr>
<h1>
   Recycling near Boston, MA
</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d378049.5635411197!2d-71.07092025!3d42.24623295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRecycling%20near%20Boston%2C%20MA!5e0!3m2!1sen!2sus!4v1626869007916!5m2!1sen!2sus" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"></iframe>
<iframe src="/map"
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"></iframe>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d212704.09297198066!2d72.89697331433884!3d33.59229137287113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srecycling%20near%20islamabad%20pakistan!5e0!3m2!1sen!2sus!4v1626869188850!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


<!--
Here is the old google map
-->
<!--
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCC8wv4Af0tkNV13Wliy1gWX39fLrLXub4&q=Space+Needle,Seattle+WA" 
>
</iframe>
-->
