<h1>Greencycle</h1>
A full screen Google Maps embed
<hr>

  <% if (loggedIn) {%>
You are logged in as <%= user.googlename %> <br>
with email <%= user.googleemail %>
  <%} else {%>
You are not logged in yet.
  <%}%>
  

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCC8wv4Af0tkNV13Wliy1gWX39fLrLXub4&q=Space+Needle,Seattle+WA">
</iframe>

