


<body>
<a class="nav-link" href="https://chomps.com/blogs/news/what-is-bmr-tdee">What is BMR and TDEE and how to use them to lose weight</a><br>


</body>


    <div class="jumbotron">
        <h1>Login to the Authentication Demo </h1>
        <p> You must login to see your profile </p>
  
    </div>
