<div>
  <h1>
    Recycling / Upcycling Resources for Boston, MA
  </h1>
</div>

<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h5 class="card-title">Watertown Recycling Center</h5>
          <p class="card-text">
            At the Recycle Center, you can recycle clothes or any type of textile. The Recycle Center is located at 76 Stanley Ave.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://www.watertowndpw.org/169/Trash-Recycling" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h5 class="card-title">Springfield Massachusetts Materials Recycling Facility</h5>
          <p class="card-text">
            At the Springfield MRF you may recycle paper/cardboard and containers. For a detailed list please click, 
            <p><a href="http://springfieldmrf.org/whats-recyclable-at-the-mrf">Here</a></p>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
  </div>
</div>