<div>
  <h1>
    Recycling / Upcycling Resources for Boston, MA
  </h1>
</div>

<ul>
    Watertown Recycling Center
</ul>



<p>
  At the Recycle Center, you can recycle clothes or any type of textile. The Recycle Center is located at 76 Stanley Ave.
</p>

