<div>
  <h1>
    Recycling / Upcycling Resources for Boston, MA
  </h1>
</div>

<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Watertown Recycling Center</h4>
          <p class="card-text">
            At the Recycle Center, you can recycle clothes or any type of textile. The Recycle Center is located at 76 Stanley Ave.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://www.watertowndpw.org/169/Trash-Recycling" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Springfield Massachusetts Materials Recycling Facility</h4>
          <p class="card-text">
            At the Springfield MRF you may recycle paper/cardboard and containers. Located at 84 Birnie Avenue
            Springfield, MA. For a detailed list please click below.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="http://springfieldmrf.org/whats-recyclable-at-the-mrf" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Raw Material Recovery, Recycling Center</h4>
          <p class="card-text">
            Here you can recycle appliances and electronics. Located at 461 West Broadway 
            Gardner, MA 01440
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="http://www.rawmatrec.com/" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Recycling Works MA</h4>
          <p class="card-text">
            Recycling Works MA can help buisnesses and institutions recycle specific materials such as batteries or food waste.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://recyclingworksma.com/recycler/empire-zero-llc/" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Raw Material Recovery, Recycling Center</h4>
          <p class="card-text">
            Here you can recycle appliances and electronics. Located at 461 West Broadway 
            Gardner, MA 01440
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="http://www.rawmatrec.com/" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Recycling Works MA</h4>
          <p class="card-text">
            Recycling Works MA can help buisnesses and institutions recycle specific materials such as batteries or food waste.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://recyclingworksma.com/recycler/empire-zero-llc/" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
  </div>
</div>