<div>
  <h1>
    Recycling / Upcycling Resources for Chicago, IL
  </h1>
</div>




<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2FIMG_4176.jpg?v=1626450949714" class="card-img-top" alt="image of the Pilsen Art House">
        <div class="card-body">
          <h4 class="card-title">The Pilsen Art House</h4>
          <p class="card-text">
            The Pilsen Art House is a communal space where people gather to upcycle clothes, books, and music in a single space. There are events all year round which allow people to donate and even vend specific items.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address:1756 W 19th St, Chicago, IL 60608</li>
          <li class="list-group-item">Phone Number:(708) 715-0995</li>
          <li class="list-group-item">Hours:Open During Events Only(Check Instagram!)</li>
        </ul>
        <div class="card-body">
          <a href="https://www.instagram.com/thepilsenarthouse/?hl=en" class="btn btn-success">Instagram</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2FRecycling1.jpg?v=1626461609999" class="card-img-top" alt="image of Household Chemicals and Computer Recycling Facility">
        <div class="card-body">
          <h4 class="card-title">Household Chemicals and Computer Recycling Facility
              </h4>
          <p class="card-text">
             The Household Chemicals and Computer Recycling facility allows people to make appointments to drop off materials such as cleaning products. Old electronics can also be dropped off here and recycled instead of ending up in the already overflowing landfills.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 1150 N North Branch St, Chicago, IL 60642 </li>
          <li class="list-group-item">Phone Number:(312) 744-3060 </li>
          <li class="list-group-item">Hours:Tuesday and Thursday 7AM-12PM, First Saturday of Every Month 8AM-3PM </li>
        </ul>
        <div class="card-body">
          <a href="https://www.chicago.gov/city/en/depts/cdph/provdrs/healthy_communities/svcs/household-chemicals---computer-recycling-facility-overview.html" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="col-4">
      <div class="card">
        <img src="https://cdn.glitch.com/ae4f9938-f599-4d02-badd-d78500920aef%2Fmaxresdefault.jpg?v=1626462993056" class="card-img-top" alt="image of A Bedder World Mattress Disposal in Chicago">
        <div class="card-body">
          <h4 class="card-title">A Bedder World Matress Disposal Chicago
              </h4>
          <p class="card-text">
             A Bedder World Mattress Disposal is an online service that allows people to get rid of their mattress in an efficient manner. While there is a fee to use their services your mattress is picked up, hauled away, and recycled by A Bedder World. So far A Bedder World has recycled over 500,000 mattresses and has been able to reduce the amount of mattresses that are thrown away into Chicago's landfills. 
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h5 class="card-title">The Pilsen Art House</h5>
          <p class="card-text">
            The Pilsen Art House is located at 1756 W 19th St, Chicago, IL 60608. It is a communal space where people gather to upcycle clothes, books, and music in a single space. There are events all year round which allow people to donate and even vend specific items.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://www.instagram.com/thepilsenarthouse/?hl=en" class="btn btn-success">Instagram</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">The Pilsen Art House</h4>
          <p class="card-text">
            The Pilsen Art House is located at 1756 W 19th St, Chicago, IL 60608. It is a communal space where people gather to upcycle clothes, books, and music in a single space. There are events all year round which allow people to donate and even vend specific items.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="https://www.instagram.com/thepilsenarthouse/?hl=en" class="btn btn-success">Instagram</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h5 class="card-title">example 2</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>





