<div>
  <h1>
    Recycling / Upcycling Resources for Chicago, IL
  </h1>
</div>

<h2>
  The Pilsen Art House
  
  <p>
    The Pilsen Art House is located at 1756 W 19th St, Chicago, IL 60608. It is a communal space where people gather to upcycle clothes, books, and music in a single space. There are events all year round which allow people to donate and even vend specific items.
  </p>
     <a href="https://www.instagram.com/thepilsenarthouse/?hl=en">The Pilsen Art House Instagram</a>
</h2>

