<div>
  <h1>
    Recycling / Upcycling Resources for Houston, TX
  </h1>
</div>

<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Tascon Inc</h4>
          <p class="card-text">
            Info: Tascon Industries, Inc. is located in Houston, Texas, on 5 acres of land and 20,000 square feet under roof. It employs 40 people and uses over 16,000 tons per year of recycled paper to manufacture its products which are sold to customers in Texas, Louisiana, Alabama, Mississippi, Arkansas, Oklahoma, and several foreign countries. Tascon sells products into the retail (“do-it-yourself”), commercial, industrial, horticulture, governmental, pet, pest control and agricultural industries.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 7607 Fairview St, Houston, TX 77041</li>
          <li class="list-group-item">Phone Number: (713) 937-0900</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-5 PM; Sat - Sun: CLOSED </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Sommermeyer Neighborhood Depository/Recycling Center</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 14400 Sommermeyer St, Houston, TX 77041</li>
          <li class="list-group-item">Phone Number: (713) 837-0311</li>
          <li class="list-group-item">Hours: Mon - Tues: CLOSED; Wed - Sun: 10 AM-7 PM</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">SUPER UNIVERSAL WASTE LLC Dba U-Waste Recycling Solutions</h4>
          <p class="card-text">
            Info: Super Universal Waste LLC dba U-Waste Recycling Solutions (U-WRS) is a Universal Waste Management company that provides recycling solutions to a broad customer base throughout the country. The innovative recycling solutions we bring to market are created and implemented with an understanding of the impact our company has on the environment. We provide our customers with innovative recycling programs that promote environmental responsibility. We ensure that the recycling of our customer’s Universal Waste and Electronics are compliant with all State, Federal and local government regulations.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 9044 Long Point Rd, Houston, TX 77055</li>
          <li class="list-group-item">Phone Number: (832) 203-5477</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM- 4 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">STS Electronic Recycling</h4>
          <p class="card-text">
            Info: STS Electronic Recycling offers safe secure computer recycling and computer liquidation services to Houston, TX. Businesses, medical facilities, and schools in Houston,TX now have a safe, EPA compliant option for recycling old, unwanted or non-working electronics like computers, laptops, cell phones, pc's and tablets. As industry and education become more reliant on the use of technology in everyday practice, the need for a reliable hardware disposal becomes ever more important.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 4801 Woodway Drive, Suite 300 East, Houston, TX 77056</li>
          <li class="list-group-item">Phone Number: (713) 264-8155</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-5 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Westpark Consumer Recycling Center</h4>
          <p class="card-text">
            Info: The Westpark Consumer Recycling Center at 5900 Westpark is a drive-through facility where citizens of Houston can drop off their recyclables.  Currently, more than 11,000 citizens per month bring their recyclables to the center. 
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 5900 Westpark Dr, Houston, TX 77057</li>
          <li class="list-group-item">Phone Number: (713) 837-0311</li>
          <li class="list-group-item">Hours: Mon - Sat: 8 AM-5 PM; Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Ecycle Houston Inc</h4>
          <p class="card-text">
            Info: This department is inside the SHARPSTOWN HEALTH CENTER buidling.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 6201 Bonhomme Rd, Houston, TX 77036</li>
          <li class="list-group-item">Phone Number: (713) 977-8600</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
     <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Southwest Neighborhood Depository/Recycling Center</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 10785 Southwest Fwy, Houston, TX 77074</li>
          <li class="list-group-item">Hours: Wed - Sun: 10 AM-7 PM; Mon - Tues: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Mission Recycle</h4>
          <p class="card-text">
            Info: City recycling programs across the United States are rapidly cutting glass collection services, and they do not typically take items like batteries, electronics, plastic bags and cardboard. Throwing these items away adds to a mounting problem of space shortages in landfills across the country. Instead, by recycling, these items can be processed and turned into new products. It's our mission to help resolve landfill space issues by offering a simple and reliable collection service for you and your neighbors.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 4010 Blue Bonnet Blvd #201, Houston, TX 77025</li>
          <li class="list-group-item">Phone Number: (713) 331-3549</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-5 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">SWM - Environmental Services Center</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 11500 S Post Oak Rd, Houston, TX 77035</li>
          <li class="list-group-item">Phone Number: (832) 393-7766</li>
          <li class="list-group-item">Hours: Tues - Wed: 9 AM-3 PM; Thurs - Mon: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Holmes Road Recycling Company, Inc.</h4>
          <p class="card-text">
            Info: They offer many scrap metal services to meet your needs. Stop by or call us to discuss what Holmes Road Recycling can do for you.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 2820 Holmes Rd, Houston, TX 77051</li>
          <li class="list-group-item">Phone Number:  (713) 799-9960</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-4:30 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">MYKAWA North American Recycled Clothing LLC</h4>
          <p class="card-text">
            Info: ReUse Textile Recycling Services provides textile recycling services to the Houston metro and surrounding areas. We partner with local nonprofit organizations to collect used clothing and home goods. Our proceeds directly support the mission and efforts of Houston nonprofit organizations. Our textile collection process generates thousands of dollars for our partners while reducing environmental impact and operational costs.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 6830 Kirbyville St, Houston, TX 77033</li>
          <li class="list-group-item">Phone Number: (713) 644-6272</li>
          <li class="list-group-item">Hours: Mon - Fri: 7 AM-3:30 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Ellington Airport/Clear Lake Neighborhood Recycling Center</h4>
          <p class="card-text">
            Info: This is an unstaffed facility located at Ellington Airport, in the Clear Lake area of Houston. This facility that accepts recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 246 Loop Rd, Houston, TX 77034</li>
          <li class="list-group-item">Phone Number: (713) 837-0311</li>
          <li class="list-group-item">Hours: Everyday from 8 AM - 8 PM</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Texas Port Recycling</h4>
          <p class="card-text">
            Info: Four scrap metal recycling facilities in Texas. U.S. leader in safety and environmental principles and practices. Deeply rooted in the communities in which we operate. Flexible and agile enough to solve any recycling requirement. Dedicated to providing value added products to meet any metal recycling job. Forging strong partnerships with businesses and manufacturers.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress:  8945 Manchester St, Houston, TX 77012</li>
          <li class="list-group-item">Phone Number: (713) 921-5549</li>
          <li class="list-group-item">Hours: Mon - Fri: 7 AM-5 PM; Sat: 7 AM-12:30 PM; Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">SWM - Recycling Technology Consultants</h4>
          <p class="card-text">
            Info: They provide sustainable solutions for all types of industries and reduce the amount of materials that are sent to the landfills, therefore becoming new products and in turn saving your bottom line costs and reducing your trash service.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 3635 Trailmobile Dr, Houston, TX 77013</li>
          <li class="list-group-item">Phone Number:  (713) 460-9440</li>
          <li class="list-group-item">Hours: Mon - Fri: 7:30 AM–4:30 PM; Sat - Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Houston Environmental Service Center - North</h4>
          <p class="card-text">
            Info: Provides solid waste services to the citizens of Houston through the collection, disposal and recycling of discarded material in a manner that is safe, efficient, environmentally sound and cost-effective.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress:  5614 Neches St, Houston, TX 77026</li>
          <li class="list-group-item">Phone Number: (713) 699-7901</li>
          <li class="list-group-item">Hours: Thurs: 9 AM-3 PM; Fri - Wed: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Green City Recycler</h4>
          <p class="card-text">
            Info: Green City Recycler is a textile recycling company that diverts used clothing, shoes, and other household items from the landfill. Through our efforts, we hope to reduce the millions of pounds of textile waste currently finding its way to the local landfill.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 2817 Berry Rd, Houston, TX 77093</li>
          <li class="list-group-item">Phone Number: (713) 694-8483</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Green Recycling Center</h4>
          <p class="card-text">
            Info: By offering inexpensive dumpster services, as well as introducing cost cutting and revenue generating creative ideas, we are creating a new cleaner enviornment for us all to live in. Recycle today with us. Recycle your paper, plastic, cardboard, metal, aluminum, anything and everything!          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 6810 Irvington Blvd, Houston, TX 77022</li>
          <li class="list-group-item">Phone Number: (713) 469-9674</li>
          <li class="list-group-item">Hours: Mon - Sat: 9 AM-6 PM; Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Recycling Center</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 9003 N Main St, Houston, TX 77022</li>
          <li class="list-group-item">Phone Number: (713) 694-8435</li>
          <li class="list-group-item">Hours: Wed - Sun: 10 AM-7 PM; Mon - Tues: CLOSED </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Northwest Recycling Llc</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress:  4400 Pinemont Dr, Houston, TX 77018</li>
          <li class="list-group-item">Phone Number: (713) 681-0930</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-4 PM; Sat: 8 AM-12:45 PM; Sun: CLOSED</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
  
  </div>
</div>
