<div>
  <h1>
    Recycling / Upcycling Resources for Houston, TX
  </h1>
</div>



<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" >
        <div class="card-body">
          <h4 class="card-title">Tascon Inc</h4>
          <p class="card-text">
            Info: Tascon Industries, Inc. is located in Houston, Texas, on 5 acres of land and 20,000 square feet under roof. It employs 40 people and uses over 16,000 tons per year of recycled paper to manufacture its products which are sold to customers in Texas, Louisiana, Alabama, Mississippi, Arkansas, Oklahoma, and several foreign countries. Tascon sells products into the retail (“do-it-yourself”), commercial, industrial, horticulture, governmental, pet, pest control and agricultural industries.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 7607 Fairview St, Houston, TX 77041</li>
          <li class="list-group-item">Phone Number: (713) 937-0900</li>
          <li class="list-group-item">Hours: Mon - Fri: 8 AM-5 PM; Sat - Sun: CLOSED </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Sommermeyer Neighborhood Depository/Recycling Center</h4>
          <p class="card-text">
            Info: This facility accepts Junk Waste, Tree Waste and Recyclables at no additional charge to City of Houston residents.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress: 14400 Sommermeyer St, Houston, TX 77041</li>
          <li class="list-group-item">Phone Number: (713) 837-0311</li>
          <li class="list-group-item">Hours: Mon - Tues: CLOSED; Wens - Sun: 10 AM-7 PM</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
  </div>
        <div class=
  <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">example 2</h4>
          <p class="card-text">
            Info: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress:</li>
          <li class="list-group-item">Phone Number:</li>
          <li class="list-group-item">Rating:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Website</a>
        </div>
      </div>
    </div>
  </div>
      