<h1>
  Recycling Companies In Islamabad
</h1>





<h2>
  Newtech
</h2>
<html>
  <head>
    <title>Newtech</title>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://www.scrapmonster.com/uploads/company_logo/2017/6/1497335348.jpeg">
      </div>
      <div class="text">
        <p style="font-size:30px">TNewtech is one of the leading names in Plastic pipes industry, registered in Pakistan.</p>
      </div>
    </div>
  </body>
</html>