<div>
  <h1>
    Recycling / Upcycling Resources for Islamabad, Pakistan
  </h1>
</div>
<br>
    
<h2>
  Bussiness Category:
</h2>
 <p style="font-size:25px">Plastic Recycling:</p>
<h3>Newtech</h3>
    

<html>
  <head>
    <title>Newtech</title>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://www.scrapmonster.com/uploads/company_logo/2017/6/1497335348.jpeg">
      </div>
      <br>
      <div class="text">
        <p style="font-size:18px">Newtech is one of the leading names in plastic pipes industry, registered in Pakistan.The company uses well equipped state of art manufacturing unit, well established marketing network, team of dedicated professionals, well defined management hierarchy and a portfolio consisting of various technologically advanced range of piping products. We believe in focusing on our valued customers and their needs. Our objective is to provide prime quality products at competitive price on committed time to the customer’s entire satisfaction. We would like to be our customers’ First Choice to fulfill their all Pipe related needs. Newtech accomplishes the quality of its products through an adopted and certified integrated quality management system in accordance with ISO 9001-2008 Standards. Our production control system fully augments with the ISO standards ensuring high quality production in conformance with the required standards. Moreover our in-house testing facilities are an additional check to the quality of our products.</p>
  
      <br>
        
      </div>
    </div>
  </body>
</html>


<div class="container overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="https://www.scrapmonster.com/uploads/company_logo/2017/6/1497335348.jpeg" class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">Newtech</h4>
          <p class="card-text">
            Newtech is one of the leading names in plastic pipes industry, registered in Pakistan.The company uses well equipped state of art manufacturing unit, well established marketing network, team of dedicated professionals, well defined management hierarchy and a portfolio consisting of various technologically advanced range of piping products. We believe in focusing on our valued customers and their needs. Our objective is to provide prime quality products at competitive price on committed time to the customer’s entire satisfaction. We would like to be our customers’ First Choice to fulfill their all Pipe related needs. Newtech accomplishes the quality of its products through an adopted and certified integrated quality management system in accordance with ISO 9001-2008 Standards. Our production control system fully augments with the ISO standards ensuring high quality production in conformance with the required standards. Moreover our in-house testing facilities are an additional check to the quality of our products.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Details</a>
          <a href="https://www.scrapmonster.com/company/newtech/8045" class="btn btn-success">Visit Newtech</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title">example 2</h4>
          <p class="card-text">
           
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rating:</li>
          <li class="list-group-item">Cleanliness:</li>
          <li class="list-group-item">Something:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-success">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>