<div>
  <h1>
    Recycling / Upcycling Resources for Islamabad, Pakistan
  </h1>
</div>
<br>
    
<h2>
  Bussiness Category:
</h2>
 <p style="font-size:25px">Plastic Recycling</p>
    <h3>
      Newtech
    </h3>

<html>
  <head>
    <title>Newtech</title>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://www.scrapmonster.com/uploads/company_logo/2017/6/1497335348.jpeg">
      </div>
      <br>
      <div class="text">
        <p style="font-size:18px">Newtech is one of the leading names in plastic pipes industry, registered in Pakistan.The company uses well equipped state of art manufacturing unit, well established marketing network, team of dedicated professionals, well defined management hierarchy and a portfolio consisting of various technologically advanced range of piping products. We believe in focusing on our valued customers and their needs. Our objective is to provide prime quality products at competitive price on committed time to the customer’s entire satisfaction. We would like to be our customers’ First Choice to fulfill their all Pipe related needs. Newtech accomplishes the quality of its products through an adopted and certified integrated quality management system in accordance with ISO 9001-2008 Standards. Our production control system fully augments with the ISO standards ensuring high quality production in conformance with the required standards. Moreover our in-house testing facilities are an additional check to the quality of our products.</p>
      <p><a href="https://www.scrapmonster.com/company/newtech/8045">Visit Newtech</a></p>
       <h4>
         Address:
        </h4> 
      <p>Suite No. 5, 2nd Floor Rehman Plaza, Markaz I-10 Islamabad, Islamabad Capital Territory, Pakistan.</p>
        <h4>
          Contact:
        </h4>
        <p></p>
      </div>
    </div>
  </body>
</html>