<div>
  <h1>Recycling / Upcycling Resources for Islamabad, Pakistan</h1>
</div>
<br>

<div class="overflow-hidden">
  <div class="row gy-4">
    <div class="col-4">
      <div class="card">
        <img src="https://reduceandrecyclepk.com/wp-content/uploads/2021/04/logo-site-1.png" class="card-img-top" alt="Recycle And Reuse">
        <div class="card-body">
          <h4 class="card-title">Recycle And Reuse</h4>
          <p class="card-text">
            Reduce and Recycle-RaR– was founded to launch products to convene sustainable living. RaR is a One-stop shop for recycled/recyclable and organic products across Pakistan. We choose best raw material to come up with economical, accessible and reachable product catalogue. We are also empowering home-based artisans by including them in the financial ecosystem. To include community engagement and promote environmental activism, we have various campus ambassadors all over Pakistan that believe and spread our cause. We also do various community building sessions to raise awareness about climate change and sustainable living.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: reduceandrecycle.info@gmail.com</li>
          <li class="list-group-item">Hours: Check Instagram</li>
        </ul>
        <div class="card-body">
          <a href="https://reduceandrecyclepk.com/" class="btn btn-success">Visit Recycle And Reuse </a>
        </div>
      </div>
    </div>
      <div
    <div class="col-4">
      <div class="card">
        <img src="http://digitaldominance.co.uk/demo/sss/wp-content/uploads/2019/11/sss-logo123-1.png" class="card-img-top" alt="Saaf Sutra Sheher">
        <div class="card-body">
          <h4 class="card-title">Recycle With Pappu</h4>
          <p class="card-text">
            Pappu Recycles!! is an initiative conceived and founded by Saaf Suthra Sheher, to mainstream recycling into the society, by working together with citizens, especially the youth and the conscious. Under this campaign, we collect all recyclable waste, and guarantee it gets recycled, without letting any of it go to a landfill or to an environmentally or socially harmful industry. Together with the citizens, we reduce the volume of waste going to landfills, streams and grasslands. We also instill social responsibility in all ages, and all of this without any inconvenience to the consume</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Phone Number: +92 316 5279758</li>
          <li class="list-group-item">Hours: Mon-Sat, 09:00 am -05:00 pm</li>
        </ul>
        <div class="card-body">
          <a href="http://saafsheher.com/recycle-with-pappu/" class="btn btn-success">Visit Recycle With Pappu</a>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0266/9386/1423/files/1_Logo_Code_Green_copy_180x.jpg?v=1589480452" class="card-img-top" alt="Code Green">
        <div class="card-body">
          <h4 class="card-title">Code Green</h4>
          <p class="card-text">
            Code Green hopes to encourage people to make as many small, consistent, sustainable switches as they can, in whatever capacity they can. For that reason, you'll find informative posts including DIYs and infographics on our social media sites to help guide you on your journey. And remember, it's always better to use what you have and make stuff yourself before you buy :) 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: Check Instagram</li>
          <li class="list-group-item">Hours: Mon-Fri</li>
        </ul>
        <div class="card-body">
          <a href="https://codegreenpk.myshopify.com/" class="btn btn-success">Visit Code Green</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="https://www.trashit.pk/web/image/res.company/1/logo?unique=d877cef" class="card-img-top" alt="TrashIt">
        <div class="card-body">
          <h4 class="card-title">TrashIt</h4>
          <p class="card-text">
            At TrashIt we take trash and turn it into premium fertilizer allowing us to achieve a better and more sustainable future for all. Our business is powered by the passion and ambition to make a real impact. Join us on our journey. Organic waste goes unnoticed in the clutter of plastic yet is inevitable. This waste ends up at the landfill where it gets trapped becoming a source of ground water pollution, disease and also releases methane gas. Efficient organic waste processing can reduce emissions,  recycle nutrient value, and capture energy. We take this massive wasted resource, and make premium compost from it for healthier soil. We have almost 1000 happy customers and community members. We empower communities to take responsibility for their waste.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: trashitpk@gmail.com</li>
          <li class="list-group-item">Phone Number: 92 336 8727448</li>
        </ul>
        <div class="card-body">
          <a href="https://www.trashit.pk/" class="btn btn-success">Visit TrashIt</a>
        </div>
      </div>
    </div>
    
  </div>
</div>