<div class="container p-3">
  <div class="alert alert-danger" role="alert">
    You have to be logged in. <a href="/auth/google" class="alert-link">Click here to log in with Google.</a>
  </div>
</div>