
<!DOCTYPE html>
<html>

<head>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<title>Google Maps API</title>

<body>
  <h3>Google Maps Demo</h3>
  <script>
    function initMap() {
      var uluru = {
        lat: <%=lat%>,
        lng: <%=lng%>
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: uluru
      });

      var infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);

      service.getDetails({
        placeId: "<%=place_id%>"
      }, function(place, status) {
        console.log(place);
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(
              '<div><strong>' + place.name + '</strong><br>' +
              'Place ID: ' + place.place_id + '<br>' +
              place.formatted_address + '<br>' +
              "Rating : " + place.rating + '</div>');
            infowindow.open(map, this);
          });
        }
      });
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY%>&libraries=places&callback=initMap">
  </script>
  <div id="map"></div>

</body>

</html>
