<div class="text-center">
  <h1>Welcome to Greencycle!</h1>
  <p class="fst-italic fs-5">Your one-stop handbook to locate all the recycling centers near you</p>
</div>

<div class="text-center">
  <img src="https://i.pinimg.com/236x/2d/e1/52/2de152fb6894c066e5198ffc672b8523.jpg" alt="Trash Aesthetic 1" class="rounded" style="width:230px; height:230px;">
  <img src="https://i.pinimg.com/236x/7e/a0/22/7ea022f2eb3c5fb48d36c724cccf9741.jpg" alt="Reduce Reuse Recycle" class="rounded" style="width:230px; height:230px;">
  <img src="https://i.pinimg.com/236x/bf/6c/ba/bf6cbacd8c3570dfc868960e24978308.jpg" alt="Trash Aesthetic 2" class="rounded" style="width:230px; height:230px;">
  <p class="fs-5">We aim to make life easier by implementing the three Rs (reduce, reuse and recycle) in our daily lives. A team of 6 individulals, who strive to encourage people to live sustainably. This app allows users to find locations for recycling and upcycling in locations near our development team. Users can find new locations, as well as report locations to the team for verification. The map is an interactive way to find places near you.</p>
  <p><strong>- Team Greencycle</strong></p>  
</div>