<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark==">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Climate Change & How Lives Are At Risk</h1>
    <p class="lead my-3">"Although global warming may bring some localized benefits, such as fewer winter deaths in temperate climates and increased food production in certain areas, the overall health effects of a changing climate are overwhelmingly negative..."</p>
    <p class="lead mb-0"><a href="https://www.who.int/news-room/fact-sheets/detail/climate-change-and-health" class="text-white fw-bold">Continue reading...</a></p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">World</strong>
        <h3 class="mb-0">Effects of Climate Change</h3>
     <br>
        <p class="card-text mb-auto">"Climate change poses a fundamental threat to the places, species and people’s livelihoods WWF works to protect..."</p>
        <a href="https://www.worldwildlife.org/threats/effects-of-climate-change" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/24/WWF_logo.svg/1200px-WWF_logo.svg.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">World</strong>
        <h3 class="mb-0">How Data Could Save Earth From Climate Change</h3>
        <br>
        <p class="mb-auto">"Using a name inspired by Indonesian farmers, Subak will share information and fund hi-tech solutions to fight global heating..."</p>
        <a href="https://www.theguardian.com/environment/2021/jul/18/how-data-could-save-earth-from-climate-change" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="https://i.pinimg.com/originals/ef/6d/5c/ef6d5ca33d8b749c57a170233b61817d.png" width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
  </div>
</div>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/j6K0iQg_p1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eSeXWk3UTWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7i0QMnz4ExY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>