<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1 class="display-2">  Get To Know Greencycle! </h1>
  
    <div class="img-with-text">
    <h4>
      <br>
       <img src="https://i.pinimg.com/236x/2d/e1/52/2de152fb6894c066e5198ffc672b8523.jpg" alt="Trash Aesthetic 1" style="width:200px;height:200px;">
       <img src="https://i.pinimg.com/236x/7e/a0/22/7ea022f2eb3c5fb48d36c724cccf9741.jpg" alt="Reduce Reuse Recycle" style="width:200px;height:200px;">
      <img src="https://i.pinimg.com/236x/bf/6c/ba/bf6cbacd8c3570dfc868960e24978308.jpg" alt="Trash Aesthetic 2" style="width:200px;height:200px;">
      <p class="display-6">
      <br>
        <small> Your one-stop handbook to locate all the recycling centers near you! We aim to make life easier by implementing the three Rs (reduce, reuse and recycle) in our daily lives. A team of 6 individulals, who strive to encourage people to live sustainably.</small>
      </p>
   </h4>
</div>
</body>
</html>

