<br>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

  <br>
  
<h1 class="display-2">Our Mission</h1>
  <br>
  <br>
  
<p class="lead">
   To make life easier to implement the three Rs (reduce, reuse and recycle) in our daily lives.
<div>
  <img scr="https://i.pinimg.com/236x/4f/6f/2d/4f6f2dbda0bcb74cf5842f64d52989c1.jpg" class="card-img-top" alt="Newtech">
</div>
  
</p>
<div>This is a div.</div>

</body>
</html>
