<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1 class="display-2">Our Purpose</h1>
  
    <div class="img-with-text">
    <h4>
      <br>
       <img src="https://i.pinimg.com/236x/7e/a0/22/7ea022f2eb3c5fb48d36c724cccf9741.jpg" alt="Reduce Reuse Recycle" style="float:right;width:200px;height:200px;">
       Welcome to Greencycle! Your one-stop handbook to locate all the recycling centers near you! We aim to make life easier by implementing the three Rs (reduce, reuse and recycle) in our daily lives. A team of 6 individulals, who strive to encourage people into live sustainibly.
   </h4>
</div>
</body>
</html>

