<br>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

  <br>
  
<h1 class="display-2">Our Mission</h1>
  <br>
  <br>
  
  <div class="img-with-text">
    <img src="https://i.pinimg.com/236x/7e/a0/22/7ea022f2eb3c5fb48d36c724cccf9741.jpg" alt="Reduce Reuse Recycle" style="width:350px;height:350px;"/>
    <p class="lead"> To make life easier to implement the three Rs (reduce, reuse and recycle) in our daily lives.</p>
</div>


<div>This is a div.</div>

</body>
</html>
